@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: hsl(25, 97%, 53%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-medium-grey: hsl(216, 12%, 54%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);
  --ff-primary: "Overpass", sans-serif;
  --fw-normal: 400;
  --fw-bold: 600;
}

html {
  font-family: var(--ff-primary);
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--neutral-very-dark-blue);
  min-height: 100vh;
}

main {
  width: 87.2vw;
  height: 360px;
  border-radius: 1.5rem;
  background: radial-gradient(
    circle,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 1) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating article {
  background: var(--neutral-dark-blue);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 2.4rem;
  margin-left: 2.4rem;
}

.rating h1 {
  color: var(--neutral-white);
  font-size: 6.4vw;
  margin-top: 1.6rem;
  margin-left: 2.4rem;
}

.rating p {
  width: 74.4vw;
  color: var(--neutral-light-grey);
  font-size: 3.733vw;
  line-height: 1.571;
  margin: 1.7rem auto 0;
}

.rating ul {
  display: flex;
  justify-content: space-between;
  width: 74.4vw;
  margin: 2.4rem auto 0;
}

.rating ul li {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--neutral-dark-blue);
}

.rating ul li button {
  border: none;
  background: none;
  color: var(--neutral-light-grey);
  font-size: 1.4rem;
}

.submit {
  border: none;
  background: var(--primary);
  width: 74.4vw;
  height: 4.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2.25rem;
  margin-top: 2.4rem;
  color: var(--neutral-white);
  letter-spacing: 2px;
}

.submit:hover {
  cursor: pointer;
}

.submit:active {
  background-color: var(--neutral-white);
  color: var(--primary);
}

@media screen and (min-width: 426px) {
  main {
    width: 28.611vw;
    height: 28.889vw;
  }

  .rating article {
    width: 3.333vw;
    height: 3.333vw;
    margin-left: 2.222vw;
    margin-top: 2.222vw;
  }

  .rating article img {
    height: 1.6rem;
  }

  .rating h1 {
    font-size: 1.944vw;
    margin-top: 2.083vw;
    margin-left: 2.222vw;
    width: fit-content;
  }

  .rating p {
    width: 23.611vw;
    font-size: 1.042vw;
    line-height: 1.6;
    margin: 1.042vw 2.222vw 0 2.222vw;
  }

  .rating ul {
    width: auto;
    margin: 1.667vw 2.222vw 0 2.222vw;
  }

  .rating ul li {
    width: 3.542vw;
    height: 3.542vw;
  }

  .rating ul li button {
    font-size: 1.111vw;
  }

  .submit {
    width: 23.681vw;
    height: 3.125vw;
    margin-top: 2.222vw;
    font-size: 1.042vw;
  }
}
