@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: hsl(25, 97%, 53%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-medium-grey: hsl(216, 12%, 54%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);
  --ff-primary: "Overpass", sans-serif;
  --fw-normal: 400;
  --fw-bold: 600;
}

html {
  font-family: var(--ff-primary);
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--neutral-very-dark-blue);
  min-height: 100vh;
}

main {
  width: 87.2vw;
  height: 360px;
  border-radius: 1.5rem;
  background: radial-gradient(
    circle,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 1) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating article {
  background: var(--neutral-dark-blue);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 2.4rem;
  margin-left: 2.4rem;
}

.rating h1 {
  color: var(--neutral-white);
  font-size: 6.4vw;
  margin-top: 1.6rem;
  margin-left: 2.4rem;
}

@media screen and (min-width: 426px) {
  main {
    width: 40.234vw;
  }

  .rating article {
    width: 4.8rem;
    height: 4.8rem;
    margin-left: 3.2rem;
    margin-top: 3.2rem;
  }

  .rating article img {
    height: 1.6rem;
  }

  .rating h1 {
    font-size: 2.734vw;
    margin-top: 3rem;
    margin-left: 3.2rem;
    width: fit-content;
  }
}
